<%- include('header') %>
        <section>
            <h1>Nuestros productos</h1>
        </section>
        <section id="items">
            <% for(let i = 0; i < 10; i++) {%>
            <article class="product-item">
                <div>
                    <img src="https://lh5.googleusercontent.com/proxy/PT-Y0X3Dd4-IEcJezTW1ji_vj63fugYVC1QaiIvQTWzpjuUvVQ55ZomK7hImbKDbY8csA2QcuCaFY0IuVKxVMlptVcgpV6e60osyTAP5Ov_y29HDCkb3UA" alt="">
                </div>
                <div>
                    <span class="product-title">Alfajor</span>
                    <span class="product-price">$150</span>
                    <span class="product-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </span>
                    <span class="product-page"><a href="/product/<%= i %>">ver más</a></span>
                    <button>Añadir al carrito</button>
                </div>
            </article>
            <% } %>
        </section>
<%- include('footer') %>
