<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="http://localhost:4055/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <section id="logo">
                <img src="http://localhost:4055/img/logo.png" alt="">
            </section>
            <section id="links">
                <a href="/">Inicio</a>
                <a href="">Nosotros</a>
                <a href="">Registrarse</a>
                <a href="">Login</a>
            </section>
        </nav>
    </header>
    <section id="banner">
        <figure>
            <img src="https://trazoweb.co/wp-content/uploads/2022/12/BN015.jpg" alt="Descripción de la imagen">
          </figure>
    </section>
    <main>
        <section>
            <h1>Detalles del producto</h1>
        </section>
        <section id="product-full-detail">
            <article id="product-detail">
                <div>
                    <img src="https://lh5.googleusercontent.com/proxy/PT-Y0X3Dd4-IEcJezTW1ji_vj63fugYVC1QaiIvQTWzpjuUvVQ55ZomK7hImbKDbY8csA2QcuCaFY0IuVKxVMlptVcgpV6e60osyTAP5Ov_y29HDCkb3UA" alt="">
                </div>
                <div id="product-info">
                    <span class="product-title">Alfajor</span>
                    <span class="product-price">$150</span>
                    <span class="product-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </span>
                    <button>Añadir al carrito</button>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <p>Derechos reservados 2024</p>
    </footer>
</body>
</html>